body {
    background:#dee1e4;
}

.quadrado {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c69b8;
    padding: 40px;
    color: #ffff;
    text-align: center;
    box-shadow: 3px 3px 10px gray;]
}

.quadrado h1 {
    font-family: sans-serif;
    font-size: 23pt;
    margin-top: 20px;
}
.quadrado h2 {

    font-family: sans-serif;
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 6px;
}
.quadrado h3 {
    font-family: sans-serif;
    font-size: 11pt;
    margin: auto;
}

input[type="text"] {
    height: 40px;

}

input[type="text"] {
    font-size: 24px;
}

button {
    background: white;
    border: none;
    color: #2871df;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
    margin-top: 20px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}
p{
    font-size: small;
    text-align: center;
}